@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Results">
    <label for="FirstName">Please Enter a First Name</label>
    <input type="text" name="First" id="FirstName" />

    <label for="LastName">Please Enter a Last Name</label>
    <input type="text" name="Last" id="LastName"/>

    <label for="Email">Please Enter a Email</label>
    <input type="email" name="Email" id="Email"/>

    <label for="Password">Please Enter a Password</label>
    <input type="password" name="Password" id="Password"/>

    <input type="submit" />
</form>